 {% extends 'layout.html' %}


{% block content %}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Simple<em> CRUD </em>Application</h1>
    <p class="lead">Here create, read, update, and delete (CRUD) are basic functons of persistent storage.The term was likely popularized by James Martin in his 1983 book Managing the Data-base Enviroment.CRUD-Flask <em>Web Application</em> will demoestrate this popular application functionality.</p>
    <p class="lead">
      <a href="#" ><button class="button"><span> Welcome </span></button></a>
    </p>
  </main>

{% endblock %}